.App {
  text-align: center;
}

.App-header {
  background-color: #230042;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  color: white;
  background-color: black;
  align-items: center;
  font-size: calc(10px+1vmin);
}

.button:hover {
  background-color: #271536;
  font-size: calc(15px+1vmin);
}

.subheading {
  background-color: #299206;
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  color: white;
}

.bioBox {
  width: 80%;
  padding: 120px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}